body{
    background-color: black;
  }
  .container {
  background-color: var(--primary);
  display: flex;
  padding: 40px;
  max-width: 40vw;
  /* min-height: 90px; */
  justify-content: center;
  align-self: center;
  border: 3px solid var(--primary);
  padding: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
              20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 
              30px -30px 0 -3px var(--background), 30px -30px var(--orange), 
              40px -40px 0 -3px var(--background), 40px -40px var(--red); 
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;

  
}

.container:hover {
  top: -20px;
  left: 20px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
      0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
      0 0 0 -3px var(--background), 0 0 0 0  var(--orange),
      0 0 0 -3px  var(--background), 0 0 0 0  var(--red);
}

.input-fields{
  max-width: 20vh;
  height: 2vh;
}
.text-field{
  max-width: 20vh;
  height: 4vh;
}

:root {
  --primary: #555BFF;
  --secondary: #22D2A0;
  --background: rgba(255, 255, 255, 0.014);
  --background2: rgba(49, 48, 48, 0.466);
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
} 

.form{
  margin-top: 0;
  margin-bottom: 0;
  top: 10%;
  position: relative;
  font-weight: 900;
  
}


