@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap'); */
/* @import url("https://use.typekit.net/ufu8iwy.css"); */
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");

* {
box-sizing: border-box;
margin: auto;
padding: 0;
/* font-family: "Encode Sans Explanded", sans-serif; */

font-family: 'Cutive Mono', monospace;
/* font-family: 'courier-std', monospace; */
}

mark{
    background-color: rgb(239, 247, 168);
}
li{
    margin-top: 10px;
}


.page{
    position: absolute;
    left: 0px;
    right:0px;
    top: 0px;
    
}
.fade-appear,.fade-enter{
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active{
opacity: 1;
transition: opacity 500ms linear 250ms;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 200ms linear;

}

.certificate-img {
  position: relative;
  left: 10%;
    border-radius: 0.5rem;
    border: 2px ridge hsl(286, 52%, 55%);
    width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 5px rgba(231, 236, 236, 0.856);
    
  }
.pagination-color{
  color: #fff;
  font-size: 1.2rem;
}

  .project-switch {
    color: hsl(176, 80%, 35%);
    font-size: 1.05rem;
    font-weight: 900;
    
  }
  
  .project-switch:hover {
    color: hsl(176, 74%, 28%);
    font-size: 1rem;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgba(11, 230, 219, 0.856);
  }

  
  .modal-logo {
    font-size: 1.25rem;
    padding-right: 0.25rem;
    color: hsl(176, 80%, 35%);
  }

  .modal-close {
    font-size: 1.5rem;
    margin-left: 20rem;
    color: rgb(196, 44, 44);
  }
  
  .modal-close:hover {
    color: hsl(176, 80%, 35%);
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .soft-icon-check{
    color: rgb(64, 197, 59);
    margin-right: 0.5rem;
  }

  .button-pdf{
    text-decoration: none;
    color:rgb(102, 185, 99);
    font-weight: 900;
    font-size: 1.05rem;
  }
  .resume-close{
    color: rgb(226, 77, 77);
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 20px;
    
    
  }
  .resume-close:hover{
    color:rgba(11, 230, 219, 0.856);
    transition:ease-in-out
  }